body {
    font-family: 'Roboto', sans-serif;
    background-color: #0A090A;
    color: #fff;
    background-image: url(../img/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 30%;
}

.logo {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
}

.search {
    display: flex;
    align-items: center;
    flex: 0.8;
}

.search-input {
    flex: 1;
    background: rgba(196, 196, 196, 0.5);
    border-radius: 5px;
    padding: 18px 12px;
    border: none;
    color: #aeaeae;
    font-size: 14px;
    line-height: 16px;
}

::-webkit-input-placeholder { /* Chrome */
    color: #aeaeae;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #aeaeae;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #aeaeae;
    opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: #aeaeae;
    opacity: 1;
}

.search-button {
    background-color: transparent;
    border: none;
    padding: 10px 18px;
}

.user {
    display: flex;
    align-items: center;
}

.avatar {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.title {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 7px;
}

.title-en {
    display: inline-block;
    font-size: 20px;
    line-height: 23px;
    color: #787878;
    margin-bottom: 38px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 108px;
}

.movie-info {
    display: flex;
    align-items: center;
}

.tag {
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    color: #333;
    background: #fff;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 20px;
}

.country {
    font-size: 16px;
    line-height: 19px;
    margin-right: 33px;
}

.play {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
}

.play:before {
    margin-right: 15px;
    content: '';
    width: 30px;
    height: 30px;
    background-image: url(../img/play.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.more {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
}

.more:after {
    margin-left: 15px;
    content: '';
    width: 30px;
    height: 30px;
    background-image: url(../img/play.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    transform: rotate(90deg);
}

.content {
    display: flex;
    justify-content: space-between;
    color: #000;
    background: #fff;
    border-radius: 3px;
    padding: 3% 4%;
}

.short-info {
    margin-right: 2%;
}

.poster {
    display: block;
    margin-top: -40%;
    margin-bottom: 20px;
}

.button {
    background: #ffbf27;
    border: none;
    padding: 10px 45px;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
}

.actors-title {
    padding-left: 15px;
    font-size: 16px;
    font-weight: 900;
    line-height: 150%;
    margin-bottom: 10px;
}

.actors-list {
    margin: 0;
    list-style: none;
    padding-left: 15px;
    text-decoration: underline;
    line-height: 150%;
}

.full-info {
    flex: 0.97;
}

.full-content {
    display: flex;
    justify-content: space-between;
}

.tabs {
    display: flex;
    align-items: center;
    margin-bottom: 4%;
}

.tabs-content {
    display: none;
    margin-right: 70px;
}

.visible {
    display: block;
}

.tabs-item {
    color: #000;
    text-decoration: none;
    margin-right: 4%;
    font-size: 18px;
    line-height: 21px;
}

.tabs-item:last-child {
    margin-right: 0;
}

.tabs-item-active {
    color: #ffbf27;
}

.text {
    font-size: 16px;
    line-height: 140%;
    margin-top: 0;
}

.subscribe-title {
    font-size: 16px;
    font-weight: 900;
    line-height: 150%;
    margin-top: 0; 
    margin-bottom: 14px;
}

.subscribe-input {
    background: rgba(196, 196, 196, 0.5);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 18px 12px;
    border: none;
    color: #aeaeae;
    font-size: 14px;
    line-height: 16px;
}

.subscribe-form {
    display: flex;
    margin-bottom: 48px;
}

.subscribe-button {
    background: #ff8f27;
    border-radius: 0 5px 5px 0;
    border: none;
    padding: 12px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .tabs-item {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 740px;
    }
    .tabs {
        flex-wrap: wrap;
    }
    .tabs-item {
        flex-basis: 20%;
        line-height: 2;
    }
    .full-content {
        flex-wrap: wrap;
    }
    .tabs-content {
        margin-bottom: 5%;
    }
    .text {
        font-size: 14px;
    }
    .actors-list {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .more {
        display: none;
    }
    .tabs-item {
        flex-basis: 33%;
    }
    .tabs-content {
        margin-right: 0;
    }
}

@media (max-width: 578px) {
    .container {
        max-width: 90%;
    }
    .header {
        flex-wrap: wrap;
    }
    .search {
        flex-basis: 100%;
        order: 3;
        margin-top: 5%;
    }
    .content {
        flex-wrap: wrap;
    }
    .short-info {
        margin-bottom: 5%;
    }
    .actors-list, .actors-title {
        display: none;
    }
    .movie-info {
        flex-wrap: wrap;
    }
    .play {
        margin-top: 5%;
        flex-basis: 100%;
    }
    .short-info {
        margin-right: 0;
    }
    .poster {
        margin-top: -20%;
        display: inline-block;
        width: 100%;
    }
    .button {
        width: 100%;
    }
}